
body {
	margin: 0 auto;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
}
​
header {
	background-color: #7A94B1;
	background-image: url("../images/unnamed-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2em;
	text-align: center;
	color: #FFF;
	background-position: center;
}
​
.main {
	display: flex;
	width: 100%;
	min-height: 888px;
}
​
.sidebar {
	order: 1;
	flex: 1;
	padding: 1.5em;
	background-color: #82908C;
​
}
​
.content {
	background-color: #B7C4BE;
	order: 1;
	flex: 5;
	padding: 1.5em;
}
Collapse 



Message 2018-beginner-track